/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  color: #444;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  max-width: 650px;
  font-size: 18px;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 28px;
}

header {
  border-bottom: 1px solid #353535;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

h2 a {
  color: #444;
  text-decoration: none;
  font-size: 25px;
  box-shadow: inset 0 -0.35em #9496d3;
  transition: box-shadow 0.1s;
  transition-timing-function: ease-in-out;
}

h2 a:hover {
  box-shadow: inset 0 -1.2em #9496d3;
}